@font-face {
    font-family: Ubuntu; /* Имя шрифта */
    src: url(ubuntu.ttf); /* Путь к файлу со шрифтом */
}
body {
	opacity: 0;
	font-family: Ubuntu;
	background-color: white;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 8px;
}
body.show {
	transition: all 0.5s ease-in-out;
	opacity: 1;
}
a.mobile-button {
	background-color: #e8cc51;
	display: block;
	padding: 16px;
	border: 3px solid black;
	border-bottom: 0px;
	color: black;
	text-decoration: none;
	text-align: center;
}
#top {
	text-align: center;
	margin-bottom: 10px;
	border-bottom: 1px solid lightgray;
}
#top a {
	display: inline-block;
	padding: 5px;
	margin-left: 15px;
	margin-right: 15px;
	color: black;
	border-bottom: 5px solid white;
	text-decoration: none;
}
#view a.mobile-button, #show-currentwork a.mobile-button {
	border: 3px solid black;
	border-radius: 16px;
}
#top a.selected {
	border-bottom: 5px solid black;
}
.buttons-list a.mobile-button {
	border-radius: 0px;
}
.buttons-list a.mobile-button:first-child {
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
}
.buttons-list a.mobile-button:last-child {
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	border-bottom: 3px solid black;
}
.big-font a.mobile-button {
	font-size: 24px;
}
#directory .logo {
	text-align: center;
}
#directory .logo img {
	width: 100%;
	max-width: 480px;
}
#view img {
	width: 100%;
}
#view .taskline p {
	padding: 16px;
	border: 1px solid black;
	border-radius: 16px;
}
#documents article {
	display: none;
}
#work #show-currentwork {
	display: none;
}
#work #choose-something {
	display: block;
}
#work .result-box {
	margin-top: 16px;
	margin-bottom: 16px;
	box-shadow: 0 0 25px gray;
}
.result-box .problem{
	padding: 16px;
}
.problem table {
	width: 100%;
}
.result-box .progress-bar .progress-line {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #e8cc51;
	text-align: center;
}
#values {
	display: table;
	width: 100%;
	margin-top: 16px;
	margin-bottom: 16px;
}
#values .values-row {
	display: table-row;
}
.values-row div {
	display: table-cell;
	text-align: center;
	padding: 8px;
	vertical-align: middle;
}
.values-row div input {
	border: 0px;
	border-bottom: 3px solid black;
	padding: 5px;
	text-align: center;
}
.values-row.cns {
	display: none;
}
#scheme-types {
	display: block;
	width: 100%;
}
#scheme-types a {
	display: block;
	padding: 8px;
	border: 2px solid black;
	border-top: 0px;
	text-decoration: none;
	color: black;
}
#scheme-types a:first-child {
	border-top: 2px solid black;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#scheme-types a:last-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
#scheme-types a.selected {
	background-color: #e8cc51;
}
#results {
	display: none;
}
#archive {
	display: table;
	width: 100%;
}
#archive .record {
	display: table-row;
}
.record .number, .record .title {
	border: 3px solid black;
	border-bottom-width: 0px;
	display: table-cell;
	padding: 8px;
	vertical-align: middle;
}
.record:first-child .number {
	border-top-left-radius: 16px;
}
.record:last-child .number {
	border-bottom-left-radius: 16px;
}
.record:first-child .title {
	border-top-right-radius: 16px;
}
.record:last-child .title {
	border-bottom-right-radius: 16px;
}
.record:last-child .number, .record:last-child .title {
	border-bottom-width: 3px; 
}
.record .number {
	border-right-width: 0px;
	border-radius: 0px;
	font-size: 24px;
	width: 50px;
	text-align: center;
}
.record .title {
	background-color: #e8cc51;
}
.title .name {
	font-size: 28px;
}
.title .value {
	margin-right: 16px;
}
.title .value span {
	border: 2px solid black;
	display: inline-block;
	padding: 4px;
	margin: 2px 0 2px 0;
}
.value span:first-child {
	border-right: 0px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
.value span:last-child {
	background-color: white;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}
#archive-view {
	display: none;
	transition: all 1s ease-in-out;
	opacity: 0;
}
#archive-view .mobile-button.small {
	float: right;
	padding: 0;
	border-radius: 8px;
}
#archive-view .small img {
	height: 24px;
}
#archive-view.show {
	opacity: 1;
}
#show-archive {
	margin-top: 8px;
	transition: all 0.5s ease-in-out;
	opacity: 1;
}
#show-archive.hide {
	opacity: 0;
}
table {
	border-spacing: 0px;
	border: 1px solid black;
}
table tr, table tr td, table tr th {
	padding: 2px;
	text-align: center;
	border: 1px solid black;
}
th {
	background-color: #e8cc51;
}
#notify {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	opacity: 0;
	transition: opacity 0.25s ease-in-out;
}
#notify.show {
	opacity: 1;
}
#notify div {
	display: inline-block;
	background-color: rgba(0,0,0,0.75);
	box-shadow: 0 0 25px black;
	color: white;
	text-shadow: 0 0 10px white;
	padding: 16px;
	margin: 25px;
	border-radius: 16px;
}
.small {
	text-align: center;
	color: gray;
	text-decoration: underline;
	padding: 8px 0 8px 0;
}